@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="../plugins/images/favicon.png">
    <title>Ample Admin Template - The Ultimate Multipurpose admin template</title>
    <!-- Bootstrap Core CSS -->
    <link href="../PanelStyle/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Menu CSS -->
    @*<link href="../PanelStyle/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">*@
    <!-- animation CSS -->
    <link href="../PanelStyle/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../PanelStyle/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="../PanelStyle/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script type="text/javascript">
        function profilBilgileri() {
            $.ajax({
                url: '/Panel/ProfilBilgileriYukle',
                dataType: "json",
                type: "GET",
                success: function (data) {
                    $('#txt_user_name').val(data.user_name);
                    $('#txt_user_email').val(data.user_email);
                    $('#txt_user_password_salt').val(data.user_password_salt);
                    $('#sl_city_id').val(data.city_id);
                    $('#txt_user_cep').val(data.user_cep);
                }
            });
        }
        profilBilgileri();
    </script>
</head>
<body class="fix-header">

    <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <a class="logo" href="index.html">
                        <!-- Logo icon image, you can use font-icon also --><b>
                            <!--This is dark logo icon--><img src="~/PanelStyle/images/admin-logo.png" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="../PanelStyle/plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
                        </b>
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                            <!--This is dark logo text--><img src="~/PanelStyle/images/admin-text.png" alt="home" class="dark-logo" /><!--This is light logo text--><img src="../PanelStyle/plugins/images/admin-text-dark.png" alt="home" class="light-logo" />
                        </span>
                    </a>
                </div>
                <!-- /Logo -->
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>

                    </li>
                    <li>
                        <a class="profile-pic" href="#"> <b class="hidden-xs">ÇIKIŞ</b></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li style="padding: 70px 0 0;">
                        <a href="index.html" class="waves-effect"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>Index</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Profile","Panel")" class="waves-effect"><i class="fa fa-user fa-fw" aria-hidden="true"></i>Profilim</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Categories","Panel")" class="waves-effect"><i class="fa fa-table fa-fw" aria-hidden="true"></i>Kategori</a>
                    </li>
                    <li>
                        <a href="@Url.Action("SubCategories","Panel")" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Alt Kategori</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Details","Panel")" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Yiyecek Detay</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Sepet","Panel")" class="waves-effect"><i class="fa fa-font fa-fw" aria-hidden="true"></i>Sepet</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by wrappixel.com </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    @*<script src="../PanelStyle/plugins/bower_components/jquery/dist/jquery.min.js"></script>*@
    <!-- Bootstrap Core JavaScript -->
    <script src="../PanelStyle/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    @*<script src="../PanelStyle/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>*@
    <!--slimscroll JavaScript -->
    <script src="../PanelStyle/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    @*<script src="../PanelStyle/js/waves.js"></script>*@
    <!-- Custom Theme JavaScript -->
    @*<script src="../PanelStyle/js/custom.min.js"></script>*@

</body>
</html>
